body {
  background: #0b132b;
  color: white;
  font-family: Arial, sans-serif;
}
.container {
  background: #1c2541;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 0 10px #3a506b;
}
input[type="file"] {
  background: #3a506b;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 20px;
  width: 100%;
}
button {
  margin-top: 20px;
  background: #5bc0be;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
button:hover {
  background: #6fffe9;
}
